.banner{
    background: var(--amarelo-degrade);
    color: var(--cor-cabecalho);
    text-align: center;
    padding: 2.5em 2em;

}
@media screen and (min-width:1024px){
    .banner--titulo{
        font-size: 35px;
    }


.banner--texto{
        font-size: 30px;

}

.banner{
       padding: 6em 0;

}
}